@import url("../fonts/fonts.css");
@import url("../themes/nord.css");

body {
    background-color: var(--nord0);
    color: var(--nord6);
    font-family: 'Open Sans', 'Courier New';
    font-size: 16px;
    margin: 0;
    margin-bottom: 20px;
}

.blog {
    padding: 10px 20px;
    border: none;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 1%;
    margin-bottom: 20px;
}

.muted-text {
    color: var(--nord4);
    font-size: 12px;
    margin-top: 2px;
    margin-bottom: 15px;
}

.cool-line {
    font-family: 'Blex Mono Nerd Font';
    font-size: 16px;
    font-weight: 700;
}


code {
    font-family: 'Blex Mono Nerd Font';
    padding: 2px 4px;
    border-radius: 3px;
}

h1,
h2 {
    color: var(--nord7);
    margin-bottom: 2px;
}

a {
    font-size: 16px;
    color: var(--nord10);
}

a:hover {
    color: var(--nord9);
}

.container {
    background-color: var(--nord2);
    border: none;
    border-radius: 10px;
    padding: 15px 20px;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;

    width: fit-content;
}

.separator {
    color: var(--nord10);
    margin: 0 8px;
}
