body {
    background-color: #282828;
    color: #ebdbb2;
    font-family: 'Blex Mono Nerd Font', 'Courier New', monospace;
    background-image: none;
    padding-top: 5%;
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 5%;
}

a {
    color: #fe8019;
    font-weight: bold;
}

a:hover {
    color: #d65d0e;
}

h1 {
    font-size: 36pt;
    font-style: bold;
}

p {
    font-style: 24pt;
    font-style: normal;
}

.container {
    background-color: #282828;
    border-radius: 5px;
    padding-top: 1%;
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: 1%;


    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;

    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);

    width: 50%;
    margin-bottom: 2%;
}

@font-face {
    font-family: 'Blex Mono Nerd Font';
    src: url('fonts/BlexMono-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
