body {
    background-color: #282828;
    color: #ebdbb2;
    font-family: 'Blex Mono Nerd Font', 'Courier New', monospace;
    background-image: none;
    padding-top: 5%;
    padding-left: 15%;
    padding-right: 15%;
    padding-bottom: 5%;
}

a {
    color: #d65d0e;
    font-weight: bold;
}

h1 {
    font-size: 36pt;
    font-style: bold;
}

p {
    font-style: 24pt;
    font-style: normal;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 20px; 
    justify-content: center;
    margin-bottom: 2%;
}

@font-face {
    font-family: 'Blex Mono Nerd Font';
    src: url('fonts/BlexMono-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
